<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>バイト計算機</title>
</head>

<body>
    <div id="box">
        <div id="app">
            <header>
                <h1>{{ heading }}</h1>
            </header>
            <main>
                <table border="1">
                    <tr>
                        <th>額</th>
                        <th>枚数</th>
                        <th>合計</th>
                    </tr>

                    <tr>
                        <td>
                            <p>10000</p>
                        </td>
                        <td>
                            <select type="number" v-model="seven">
                                <option v-for="n in int" :key="n" v-bind:value="n">{{ n - 1 }}</option>               
                            </select>
                        </td>
                        <td>
                            <p>{{ sevenAnswer }}円</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p>5000</p>
                        </td>
                        <td>
                            <select type="number" v-model="six">
                                <option v-for="n in int" :key="n" v-bind:value="n">{{ n - 1 }}
                            </select>
                        </td>
                        <td>
                            <p>{{ sixAnswer }}円</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p>1000</p>
                        </td>
                        <td>
                            <select type="number" v-model="five">
                                <option v-for="n in int" :key="n" v-bind:value="n">{{ n - 1 }}       
                    </select>
                        </td>
                        <td>
                            <p>{{ fiveAnswer }}円</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p>500</p>
                        </td>
                        <td>
                            <select type="number" v-model="four">
                                <option v-for="n in int" :key="n" v-bind:value="n">{{ n - 1 }}              
                </select>
                        </td>
                        <td>
                            <p>{{ fourAnswer }}円</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p>100</p>
                        </td>
                        <td>
                            <select type="number" v-model="three">
                                <option v-for="n in int" :key="n" v-bind:value="n">{{ n - 1 }}               
                </select>
                        </td>
                        <td>
                            <p>{{ threeAnswer }}円</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p>50</p>
                        </td>
                        <td><select type="number" v-model="two">
                            <option v-for="n in int" :key="n" v-bind:value="n">{{ n - 1 }}               
                </select>
                        </td>
                        <td>
                            <p>{{ twoAnswer }}円</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p>10</p>
                        </td>
                        <td>
                            <select type="number" v-model="one">
                                <option v-for="n in int" :key="n" v-bind:value="n">{{ n - 1 }}               
                </select>
                        </td>
                        <td>
                            <p>{{ oneAnswer }}円</p>
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>
                            <p>{{ totalMessage }}<span :class="totalColor(total)">{{ total }}円</span></p>
                        </td>
                        <td></td>
                    </tr>
                </table>

            </main>
        </div>
    </div>

    <!-- [js読み込み] -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>