<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>バイト計算機</title>
</head>

<body>
    <div id="box">
        <div id="app">
            <header>
                <h1>{{ heading }}</h1>
            </header>
            <main>
                <table border="1">
                    <tr>
                        <th>額</th>
                        <th>枚数</th>
                        <th>合計</th>
                    </tr>

                    <tr>
                        <td>
                            <!--1万円-->
                            <p>{{ sevenInt.toLocaleString() }}</p>
                        </td>
                        <td>
                            <select type="number" v-model="seven">
                                <option value="">0</option>
                                <option v-for="n in int" :key="n" v-bind:value="n">{{ n }}</option>               
                            </select>
                        </td>
                        <td>
                            <p>{{ sevenAnswer.toLocaleString() }}円</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <!--5,000円-->
                            <p>{{ sixInt.toLocaleString() }}</p>
                        </td>
                        <td>
                            <select type="number" v-model="six">
                                <option value="">0</option>
                                <option v-for="n in int" :key="n" v-bind:value="n">{{ n }}
                            </select>
                        </td>
                        <td>
                            <p>{{ sixAnswer.toLocaleString() }}円</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <!--1,000円-->
                            <p>{{ fiveInt.toLocaleString() }}</p>
                        </td>
                        <td>
                            <select type="number" v-model="five">
                                <option value="">0</option>
                                <option v-for="n in int" :key="n" v-bind:value="n">{{ n }}       
                    </select>
                        </td>
                        <td>
                            <p>{{ fiveAnswer.toLocaleString() }}円</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <!--500円-->
                            <p>{{ fourInt }}</p>
                        </td>
                        <td>
                            <select type="number" v-model="four">
                                <option value="">0</option>
                                <option v-for="n in int" :key="n" v-bind:value="n">{{ n }}              
                </select>
                        </td>
                        <td>
                            <p>{{ fourAnswer.toLocaleString() }}円</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <!--100円-->
                            <p>{{ threeInt }}</p>
                        </td>
                        <td>
                            <select type="number" v-model="three">
                                <option value="">0</option>
                                <option v-for="n in int" :key="n" v-bind:value="n">{{ n }}               
                </select>
                        </td>
                        <td>
                            <p>{{ threeAnswer.toLocaleString() }}円</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <!--50円-->
                            <p>{{ twoInt }}</p>
                        </td>
                        <td><select type="number" v-model="two">
                              <option value="">0</option>
                            <option v-for="n in int" :key="n" v-bind:value="n">{{ n }}               
                </select>
                        </td>
                        <td>
                            <p>{{ twoAnswer.toLocaleString() }}円</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <!--10円-->
                            <p>{{ oneInt }}</p>
                        </td>
                        <td>
                            <select type="number" v-model="one">
                                <option value="">0</option>
                                <option v-for="n in int" :key="n" v-bind:value="n">{{ n }}               
                </select>
                        </td>
                        <td>
                            <p>{{ oneAnswer.toLocaleString() }}円</p>
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>
                            <!--総合計-->
                            <p>{{ totalMessage }}<span :class="totalColor(total)">{{ total.toLocaleString() }}円</span></p>
                        </td>
                        <td></td>
                    </tr>
                </table>

            </main>
        </div>
    </div>

    <!-- [js読み込み] -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>